<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.iolist.dao.ProductDao">
 
 	<select id="selectAll" resultType="ProductDTO">
 			SELECT 
			 		P_CODE,
					P_NAME,
					P_IPRICE,
					P_OPRICE,
					P_VAT
			FROM tbl_product
 	</select>

 	<select id="findById" resultType="ProductDTO">
 			SELECT 
			 		P_CODE,
					P_NAME,
					P_IPRICE,
					P_OPRICE,
					P_VAT
			FROM tbl_product
			WHERE P_CODE = #{p_code}
 	</select>
 	<select id="findByName" resultType="ProductDTO">
 			SELECT 
			 		P_CODE,
					P_NAME,
					P_IPRICE,
					P_OPRICE,
					P_VAT
			FROM tbl_product
			WHERE P_NAME LIKE '%' || #{p_name} || '%'
 	</select>

 	<insert id="insert" parameterType="ProductDTO">
 	</insert>
 	<update id="update" parameterType="ProductDTO">
 		UPDATE tbl_product SET
				P_NAME = #{p_name},
				P_IPRICE = #{p_iprice},
				P_OPRICE = #{p_oprice},
				P_VAT = #{p_vat}
		WHERE P_CODE = #{p_code}		
 	</update>
 	<delete id="delete"></delete>
 
 </mapper> 